/* .hero img{ */
    /* background-color: var(--color-black); */
    /* background-color: black; */
    /* height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px; */
    
    
  /* } */
 
  